body {
  background-image: url("/HW6/img/mainBG.png");
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1026px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  margin-top: 46px;
}

.header-logo {
  display: flex;
  width: 53px;
  height: 47px;
}

.header-logo-text {
  margin-left: 58px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.header-milan-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 29px;
  color: #ffffff;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

.mail {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 19px;
}

.tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

/* MAIN TOURS */

main {
  margin-top: 22px;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 61px;
}

.tours-grid-img {
  width: 300px;
  height: 220px;
  padding-bottom: 20px;
}

.tours-grid-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* COPYRIGHT TEXT  */

.copyright-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 15px;
}

.copyrigt-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

/* HOVER */

.mail:hover {
  color: #f26522;
}

.tel:hover {
  color: #f26522;
}

.header-logo-hover:hover .icon-default {
  display: none;
}

.header-logo-hover:hover .icon-hover {
  display: block;
}

.icon-hover {
  display: none;
}

.header-logo-hover:hover .header-logo-text,
.header-logo-hover:hover .header-milan-text {
  color: #f26522;
}

.header-text {
  margin-top: -45px;
}

.item-wrap {
  display: block;
}

/* Hover */

.item-wrap {
  display: block;
}

.wrapper-item1 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 294px;
  left: 207px;
  opacity: 0;
}

.wrapper-item1:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.wrapper-item2 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 294px;
  left: 570px;
  opacity: 0;
}

.wrapper-item2:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.wrapper-item3 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 294px;
  left: 932px;
  opacity: 0;
}

.wrapper-item3:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.wrapper-item4 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 613px;
  left: 207px;
  opacity: 0;
}

.wrapper-item4:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.wrapper-item5 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 613px;
  left: 569px;
  opacity: 0;
}

.wrapper-item5:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.wrapper-item6 {
  position: absolute;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  color: #ffffff;
  top: 613px;
  left: 932px;
  opacity: 0;
}

.wrapper-item6:hover {
  background-color: #f26522;
  opacity: 1;
  transition: 0.8s;
}

.tours-grid-text:hover {
  color: #f26522;
}

.wrapper-item1,
.wrapper-item2,
.wrapper-item3,
.wrapper-item4,
.wrapper-item5,
.wrapper-item6 {
  display: flex;
  justify-content: space-between;
}
.wrapper-text-hover1 {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-left: 16px;
}

.wrapper-text-hover2 {
  margin: 29px 37px 12px;
  display: flex;
  align-items: center;
}
.from {
  width: 22px;
  height: 14px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding-bottom: 8px;
}

.money {
  width: 36px;
  height: 14px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.view-details {
  width: 78px;
  height: 14px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.arrow {
  width: 5px;
  height: 10px;
  margin-top: 8px;
  margin-right: -10px;
  margin-bottom: 12px;
  margin-left: 16px;
}
.arrow::before {
  color: #ffffff;
  content: "❯";
}
