body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0px auto;
}

.main-word {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 40px;
    margin-left: auto;
}

.secondwords {
    color: #4BCAFF;
}

.firstwords {
    color: #000000;
}
 
.header-container {
    width: 1280px;
    height: 69px;
    left: 2px;
    top: 119px;
    background: #35444F;
}

.header-menu {;
    margin-right: 150px;
    margin-left: 192px;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 77px;
}

.items-list {
    margin-top: 22px;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.aside-container {
    width: 344px;
    height: 399px;
    left: 0px;
    top: 0px;
    margin-top: 49px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.aside-items {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 44px;
}

.aside-items-list {
    margin-bottom: 52px;
}

.aside-link {
    width: 106px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.main-image {
    width: 885px;
    height: 529px;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 49px;
    margin-left: 52px;
}

.main-menu {
    display: flex;
}

.main-image-center {
    width: 320px;
    height: 381px;
    margin: 75px auto;
    background: url(top1-img.png);
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.first-text {
    width: 885px;
    height: 120px;
    left: 0px;
    top: 566px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    
}

.second-text {
    width: 885px;
    height: 109px;
    left: 0px;
    top: 720px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 34px;
    margin-bottom: 54px;
}

.footer-container {
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 25px;
}

.footer-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-items-list {
    margin-top: 25px;
    margin-left: 40px;
}

.footer-link {
    width: 875px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-text-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    
    margin-left: 1050px;
    color: #010101;
}

.footer-text {
    
}
