body {
    font-family: 'Montserrat', sans-serif;
    background-color: #171717;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* HEADER */

.header-container {
    width: 1075px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
}

.nav {
    margin-top: 46px;
    background-color: #171717;
}

.call-btn {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    background-color: #171717;
}

.call-btn-text {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #E4B564;
    margin-left: 10px;
}

/* MAIN  */

.main {
    color: white;
    margin-top: 128px;
    margin-bottom: 191px;
    background-color: #171717;
}

.main-container {
    width: 1075px;
    margin: 0 auto;
}

.main-container-text {
    font-family: 'Montserrat'
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 41px;
}

.main-container-info {
    font-family: 'Montserrat'
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 41px;
}

/* GRID */

.grid-container-first-row {
    width: 1075px;
    height: 350px;
    margin: 0 auto;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 27px;
    text-align: center;
    
}
.grid-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}
    
.grid-item-1 {
    background: #634F2C;
}

.grid-item-2 {
    background: #B4A385;
}

.grid-item-3 {
    background: #E4B564; 
}


.grid-container-second-row {
    width: 1075px;
    height: 350px;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 27px;
    margin-top: 27px;
    text-align: center;
}

.grid-item-4 {
    background: #635A4A;
}

.grid-item-5 {
    background: #B08C4D;
}

/* Equipments GRID */

.equipments-grid-container {
    width: 1075px;
    margin: 0 auto;
}

.equipments {
    margin: 161px 0px 191px;
}

.equipments-text {
    font-family: 'Montserrat'
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 161px;
    margin-bottom: 94px;
}

.equipments>h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 94px;
}

.equipments-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 897px;
}

.equipments-grid>div {
    display: flex;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    padding-left: 50px;
    padding-top: 45px;
}

.equipments-grid>div>p {
    display: inline-block;
    width: 300px;
}

.equipments-grid-item1 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #0E0E0E;
}

.equipments-grid-item2 {
    grid-area: 1 / 3 / 4 / 5;
    background-color: #242424;
}

.equipments-grid-item3 {
    grid-area: 1 / 5 / 3 / 7;
    background-color: #1F1F1F;
}

.equipments-grid-item4 {
    grid-area: 3 / 1 / 7 / 3;
    background-color: #1F1F1F;
}

.equipments-grid-item5 {
    grid-area: 4 / 3 / 7 / 5;
    background-color: #E4B564;
}

.equipments-grid-item6 {
    grid-area: 3 / 5 / 5 / 7;
    background-color: #0E0E0E;
}

.equipments-grid-item7 {
    grid-area: 5 / 5 / 7 / 7;
    background-color: #0A0909;
}


/* CLIENTS GRID */


.clients {
    width: 1075px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.clients-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-text {
    font-family: 'Montserrat'
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.clients-btn {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #E4B564;
    margin-left: 10px;
    background: #0E0E0E;
}

.clients-grid {
    width: 1075px;
    margin: 0 auto;
    margin-bottom: 238px;
}

.clients-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 700px;
}

.clients-grid-item1 {
    background: #634F2C;
}

.clients-grid-item2 {
    background: rgba(232, 210, 171, 0.76);
}

.clients-grid-item3 {
    background: #E4B564;
}

.clients-grid-item4 {
    background: #635A4A;
}

.clients-grid-item5 {
    background: #B08C4D;
}

.clients-grid-item6 {
    background: #634F2C;
}

.second-img-item2 {
    margin-bottom: 16px;
}

.clients-text-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat'
}


