a {
}

body {
  background-image: url(../img/bgimage.jpg);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

/* -----HEADER----- */

.header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.header-name-site {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  color: #ffffff;
  margin-left: 79px;
  margin-right: 704px;
}

.header-calendar-logo {
  margin-right: 27px;
}

.header-envelope-logo {
  margin-right: 27px;
}

.header-compass-logo {
  margin-right: 27px;
}

.line {
  width: 1px;
  height: 19px;
  left: 1083px;
  top: 20px;

  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 27px;
}

.header-registration {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;
}

.header-name-site:hover {
  color: #3cb878;
  cursor: pointer;
  transition: 0.8s;
}

/* 1 logo hover */
.header-calendar-logo:hover .header-calendar-link {
  display: none;
}
.header-calendar-logo:hover .header-calendar-link-hover {
  display: block;
}
.header-calendar-link-hover {
  display: none;
}

/* 2 logo hover */
.header-envelope-logo:hover .header-envelope-link {
  display: none;
}
.header-envelope-logo:hover .header-envelope-link-hover {
  display: block;
}
.header-envelope-link-hover {
  display: none;
}

/* 3 logo hover */
.header-compass-logo:hover .header-compass-link {
  display: none;
}
.header-compass-logo:hover .header-compass-link-hover {
  display: block;
}
.header-compass-link-hover {
  display: none;
}

.log-in:hover {
  color: #3cb878;
  cursor: pointer;
  transition: 0.8s;
}
.sign-up:hover {
  color: #3cb878;
  cursor: pointer;
  transition: 0.8s;
}

/* -----MAIN----- */

.container {
  width: 444px;
  height: 610px;
  margin-top: 5%;
  margin-left: auto;
  margin-bottom: 5%;
  margin-right: auto;

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: -60px;
  bottom: 0px;
  right: 0px;

  background: #3cb878;
}

.registration {
  position: relative;
  width: 324px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
}

.form-sign-up {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #434343;
}

.sign-up-link {
  text-decoration: none;
}

.form-log-in {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #3cb878;
}

.log-in-link {
  text-decoration: none;
}

.form-log-in:hover {
  color: #01813f;
  transition: 0.8s;
}

/* -----Buttons----- */

.form-buttons {
  width: 324px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook-btn {
  width: 160px;
  height: 48px;
  left: 0px;
  top: 0px;
  border-style: none;
  border-radius: 3%;
  margin-right: 6px;

  background: #305db8;
  display: flex;
  align-items: center;
}
.facebook-btn-img {
  margin-left: 16px;
  margin-right: 17px;
}

.facebook-link {
  text-decoration: none;
}

.google-btn {
  width: 160px;
  height: 48px;
  left: 0px;
  top: 0px;
  border-style: none;
  border-radius: 3%;

  background: #df4a32;
  display: flex;
  align-items: center;
}
.google-btn-img {
  margin-left: 12px;
  margin-right: 7px;
}

.google-link {
  text-decoration: none;
}

.facebook-text {
  width: 71px;
  height: 14px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.google-text {
  width: 53px;
  height: 14px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.line-btn-fb {
  width: 1px;
  height: 19px;
  left: 1083px;
  top: 20px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 18px;
}

.line-btn-google {
  width: 1px;
  height: 19px;
  left: 1083px;
  top: 20px;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 30px;
}

.facebook-btn:hover {
  background: #022263;
  transition: 0.8s;
}

.google-btn:hover {
  background: #ab1f09;
  transition: 0.8s;
}

/* -----or----- */

.line-or {
  width: 324px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 12px;
}
.two-lines {
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
}
.line-or-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #848484;
  margin-right: 3px;
  margin-left: 3px;
}

.main-form {
  width: 324px;
  margin: 0 auto;
  border-style: none;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forms {
  max-width: 324px;
  height: 46px;

  background: #ffffff;
  border-style: none;
  outline: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: black;
  padding-left: 20px;
}

.forms:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

::placeholder {
  width: 69px;
  height: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #bebebe;
  padding: 14px 235px 16px 0px;
}

/* -----Checkbox----- */

.custom-checkbox {
  width: 324px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.checkbox-default {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.checkbox-default:checked + .custom-checkbox-block {
  background-image: url(../img/checkbox-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.custom-checkbox-block {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}

.checkbox-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #434343;
}
.checkbox-text-green {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01813f;
}

.create-btn {
  width: 324px;
  margin: 0 auto;
  margin-top: 20px;
}

.create-acc-btn {
  width: 324px;
  margin: 0 auto;
  width: 324px;
  height: 46px;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border-style: none;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.create-acc-btn:hover {
  background: #01813f;
  transition: 0.8s;
}
